*{border: 0px; outline: 0px; margin: 0px; padding: 0px;}
body
{
	background-color: #000000;
	/*background-color: #171b1e;*/
}
body
{
	/* Safari and Google Chrome */
	background: -webkit-linear-gradient(top, #171b1e, #3b3f41) no-repeat;
	
	/* Firefox */
	background: -moz-linear-gradient(top,  #171b1e, #3b3f41) no-repeat;
	
	/* Opera */
	background: -o-linear-gradient(top, #171b1e, #3b3f41) no-repeat;
	
	/* Internet Explorer */
	background: -ms-linear-gradient(top, #171b1e, #3b3f41) no-repeat;
	
	/* W3C Standard */
	background: #171b1e linear-gradient(to bottom, #171b1e, #3b3f41) no-repeat;
}
div#appPreView, div#appView
{
	margin: 0px auto;
	width: 900px;
}
div#header, div#contentBody
{
	width: 900px;
}

div#header
{
	height: 170px;
	position: relative;
}
	/*div#header h1
	{
		margin: 0px;
		padding: 0px;
		
		color: #FFFFFF;
		display: inline;
		font-family: Arial;
		font-size: 71.45px;
		font-weight: lighter;
		margin-left: 6px;
		margin-top: 15px;
	}*/
	
	div#header img#logo
	{
		border: 1px solid #FFFFFF;
		color: #FFFFFF;
		font-family: Arial;
		font-size: 40px;
		height: 53px;
		margin-left: 6px;
		margin-top: 15px;
		width: 198px;
	}
	div#header h3
	{
		color: #45494b;
		font-family: Helvetica;
		font-size: 48px;
		/*font-weight: lighter;*/
		left: 410px;
		position: absolute;
		top: 11px;
	}
	div#header div#mainNav
	{
		/*padding: 0;
		margin: 0;*/
		background: url('_header_nav_background.png') repeat-x;
		height: 53px;
		margin-top: 45px;
	}
		div#header div#mainNav a:not(:first-of-type) 
		{
			/*margin-left: 35px;*/
		}
		div#header div#mainNav a
		{
			color: #FFFFFF;
			font-family: Helvetica;
			padding: 17px 9px;
			position: relative;
			text-decoration: none;
			top: 17px;
		}
		div#header div#mainNav a:hover
		{
			background-color: #2cabb8;
		}
	div#header div#contactInfo
	{
		position: absolute;
		right: 0px;
		top: 5px;
	}
		div#header div#contactInfo a
		{	
			color: #FFFFFF;
			font-family: Helvetica;
			font-size: 12px;
			padding-left: 8px;
			padding-right: 8px;
			text-decoration: none;
		}
		div#header div#contactInfo a:hover
		{
			text-decoration: underline;
		}
		div#header div#contactInfo p
		{
			color: #838587;
			font-family: Helvetica;
			font-size: 13px;
			position: absolute;
			right: 7px;
			top: 25px;
		}
	div#header div#search 
	{
		height: 29px;
		position: absolute;
		right: 9px;
		top: 69px;
		width: 492px;
	}
		div#header div#search img
		{
			/*cursor: pointer;*/
			position: absolute;
		}
		div#header div#search input
		{
			background-color: transparent;
			color: #656565;
			font-family: Helvetica;
			font-size: 14px;
			left: 6px;
			position: absolute;
			top: 8px;
			width: 415px;
			z-index: 1;
		}
		div#header div#search div#submitBox
		{
			cursor: pointer;
			height: 26px;
			right: 0px;
			position: absolute;
			top: 0px;
			width: 64px;
			z-index: 2;
		}
div#contentBody
{	
	/* Safari and Google Chrome */
	/*background: -webkit-linear-gradient(top, #171b1e, #3b3f41);
	
	/* Firefox */
	/*background: -moz-linear-gradient(top,  #171b1e, #3b3f41);
	
	/* Opera */
	/*background: -o-linear-gradient(top, #171b1e, #3b3f41);
	
	/* Internet Explorer */
	/*background: -ms-linear-gradient(top, #171b1e, #3b3f41);
	
	/* W3C Standard */
	/*background: gold linear-gradient(to bottom, #171b1e, #3b3f41);*/
	
	background-color: #171b1e;
	color: #FFFFFF;
	font-family: Helvetica;
	/*height: 100%;*/
	/*padding-bottom: 70px;*/
	position: relative;
	width: 900px;
}
	div#contentBody div#mainContentArea
	{
		/*background-color: #171b1e;*/
		position: relative;
	}
div#contentBody
{
	
}
div#footer
{
	background-color: #171b1e;
	color: #FFFFFF;
	font-family: Helvetica;
	height: 200px;
	margin-bottom: 70px;
	position: relative;
	width: 900px;
	
	-moz-border-radius: 15px;
	border-radius: 15px;
}
	div#footer > div
	{
		display: table-cell;
		padding-bottom: 12px;
		position: relative;
	}
		div#footer div#footHeaders
		{
			background: url('_footer_nav_background.png') repeat-x;
			display: block;
			height: 55px;
			padding-bottom: 0px;
			position: relative;
			width: 100%;
		}
		div#footer div#footHeaders p
		{
			display: inline;
			position: relative;
			top: 17px;
		}
			div#footer div#footHeaders p#custServiceHeader
			{
				left: 13px;
			}
			div#footer div#footHeaders p#socialNetworksHeader
			{
				left: 243px;
			}
			div#footer div#footHeaders p#subscribeHeader
			{
				left: 398px;
			}

	div#footer table
	{
		display: inline;
		position: relative;
	}	
	div#footer table#custService
	{
		padding-right: 30px;
		position: relative;
	}
		div#footer table#custService tr td
		{
			padding-bottom: 10px;
			padding-right: 20px;
		}		
		div#footer table#custService tr td a
		{
			margin-left: 13px;
		}

	div#footer table#socialNetworks
	{
		padding-right: 70px;
		position: relative;
	}
		div#footer table#socialNetworks tr td
		{
			padding-bottom: 10px;
			width: 100px;
		}		
		div#footer table#socialNetworks tr td:first-child
		{
			
		}
	div#footer form table#subscribe
	{
		font-size: 12px;
		position: relative;
		top: 11px;
	}
		div#footer form table#subscribe tr:first-child td
		{
			padding-bottom: 10px;
		}
		div#footer form table#subscribe tr:first-child+tr td
		{
			padding-bottom: 5px;
		}
		div#footer form table#subscribe tr td
		{
			width: 245px;
		}
		div#footer form table#subscribe tr td input#txtSubscribe1
		{
			height: 22px;
			width: 186px;
		}
		div#footer form table#subscribe tr td input#txtSubscribe2
		{
			height: 22px;
			width: 128px;
		}	
		div#footer form table#subscribe tr td input#btnSubscribe
		{
			background-color: #14a2b0;
			color: #FFFFFF;
			cursor: pointer;
			height: 22px;
			position: relative;
			top: 1px;
			width: 55px;
		}
		div#footer > table p
		{

		}

		div#footer > table tr td
		{
			font-family: Helvetica;
			font-size: 12px;
		}
		
		div#footer > table tr td a
		{
			color: #FFFFFF;
			text-decoration: none;
		}
		
		div#footer > table tr td a:hover
		{
			text-decoration: underline;
		}		
	div#footer p#copyright
	{
		bottom: 0px;		
		font-family: Helvetica;
		font-size: 12px;
		left: 8px;
		position: absolute;
	}
	div#footer p#poweredBy
	{
		bottom: 0px;
		font-family: Helvetica;
		font-size: 12px;
		position: absolute;
		right: 18px;
	}
	
.categoryList li
{
	color: #FFFFFF;
	font-family: Helvetica;
	padding-left: 46px;
	padding-top: 20px;
	/*margin-left: 28px;
	margin-top: 15px;
	width: 185px;*/
}

.productList li
{
	padding-left: 47px;
}

#subscribeFrm
{
	display: inline;
}

div#tools
{
	background-color: #303030;
	height: 970px;
	margin: 0px auto;
	overflow: hidden;	
	position: relative;
	width: 700px;
}
	div#tools > div
	{
		background-color: #000000;
		color: #FFFFFF;
		/*display: inline;*/
		float: left;
		font-family: Helvetica;
		font-size: 12px;
		height: 150px;
		margin-left: 25px;
		margin-top: 10px;
		position: relative;
		width: 200px;
		
		-moz-border-radius: 15px;
		border-radius: 15px;
		/*position: absolute;*/
	}
		div#tools > div p
		{
			clear: both;
			margin-left: 10px;
			margin-top: 5px;
			padding-bottom: 2px;
		}
		div#tools div#uiComboBox select
		{
			background: url("jquery-ui-1.9.2.custom/css/custom-theme/images/ui-bg_highlight-soft_25_2a2b2d_1x100.png") repeat-x scroll 50% 50% #2A2B2D;	
			border: 1px solid #000000;
			color: #FFFFFF;
			padding: 2px;
			margin-left: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;			
		}
		div#tools div#uiButtonBar div#radio
		{
			margin-left: 5px;
		}
		div#tools div#uiButton button
		{
			margin: 0px 0px 5px 5px;
			width: 100px;
		}
		div#tools div#uiTab div#tabs > div
		{
			/*height: 1px;
			overflow: hidden;
			width: 1px;*/
		}
		div#tools div#uiRadioButton input[type=radio]
		{
			margin-left: 10px;
		}
		
		div#tools div#uiList select
		{
			margin-left: 10px;
			width: 100px;
			
			-moz-border-radius: 5px;
			border-radius: 5px;		
		}
		div#tools div#uiSlider div#slider
		{
			background: url("jquery-ui-1.9.2.custom/css/custom-theme/images/ui-bg_highlight-soft_25_2a2b2d_1x100.png") repeat-x scroll 50% 50% #2A2B2D; 
			margin-left: 20px;
			position: relative;
			width: 160px;
		}
		
			div#tools div#uiSlider div#slider a.ui-state-default
			{
				background-color: #4fabb6;
			}
		
		div#tools div#uiScrollBar div#scroll
		{
			height: 100px;
			overflow: auto;
			width: 20px;
		}
		
		div#tools div#uiCheckbox input[type=checkbox]
		{
			margin-left: 10px;
		}
		
		div#tools div#uiTextArea textarea
		{
			border: 2px solid #000000;
			margin-left: 10px;
		}
		
		div#tools div#uiTextInput input[type=text]
		{
			margin-left: 10px;
		}
		
		div#tools div#uiLinkButton a
		{
			margin-left: 10px;
		}
		
		div#tools div#uiNumericStepper input#spinner
		{
			background: url("jquery-ui-1.9.2.custom/css/custom-theme/images/ui-bg_highlight-soft_25_2a2b2d_1x100.png") repeat-x scroll 50% 50% #2A2B2D;	
			color: #FFFFFF;
		}
		.ui-progressbar {height: 10px; width: 290px;}
		.ui-progressbar .ui-progressbar-value { /*background-image: url("jquery-ui-1.9.2.custom/css/custom-theme/images/pbar-ani.gif");*/ background-color: #2cabb8; height: 10px; width: 290px; margin-left: 10px;}